@font-face {
    font-family: Montserrat-Regular;
    src: url("/assets/fonts/Montserrat-Regular.ttf")
}
@font-face {
    font-family: Montserrat-Light;
    src: url("/assets/fonts/Montserrat-Light.ttf")
}
@font-face {
    font-family: Raleway;
    src: url("/assets/fonts/Raleway-Regular.ttf")
}
* {
    font-size: 10px;
    font-family: Montserrat-Regular
}
body {
    width: 100%;
}
.header {
    width: 100%;
    background-image: url("../assets/img/header-background.png");
    background-size: cover;
    &-row {
        width: 100%;
        padding-top: 4em;
        padding-bottom: 28em;
        display: flex;
        &__logo {
            width: 25%; 
            text-align: end;   
            display: flex;
            flex-direction: row;
            justify-content: flex-end; 
            &-img {
                width: initial;
            }
            &-text {
                width: auto;
                font-family: Raleway;
                font-size: 3.4em;
                color: rgb(255, 255, 255);
            }
        }
        &__nav {
            width: 60%;  
            text-align: right;          
            color: rgb(255, 255, 255);
            &-button {
                font-size: 1.4em;
                padding: 0em 0.8em;
                line-height: 4em;
            }
            &-button:hover {
                color: rgb(73, 71, 60);
            }
        }
        &__dropdown {
            width: 75%; 
            display: none;
            justify-content: center; 
            &-button {
                width: auto;
                background-color: rgba(0, 0, 0, 0);
                padding: 0em 3em; 
            }
            &-line {
                width: 4em;
                height: 0.1em;
                background-color: rgb(255, 255, 255);
            }
            &-menu {
                width: 13.4em;
            }
            &-item {
                font-family: Raleway;
                font-size: 1.5em;
                width: inherit;  
            }
            &-img {
                display: none;
                &1, &2 {
                    margin: auto 4em auto 0em;
                }
            }
        }
    }
    &-slider {
        float: none;
        width: 35%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;   
        padding-bottom: 33em;
        &__text-1 {
            font-family: Raleway;
            font-size: 3.2em;
            color: rgb(255, 255, 255);
        }
        &__text-2 {
            font-family: Raleway;
            font-size: 5.2em;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }
        &__text-3 {
            font-family: Montserrat-Regular;
            font-size: 1.6em;
            color: rgb(255, 255, 255);
            margin-bottom: 3.125em;
        }
        &__button {
            width: 10.625em;
            height: 3.125em;
            background-color: rgb(153, 134, 117);
            font-size: 1.6em;
            color: rgb(255, 255, 255);
            border: 0em;
            border-radius: 0.1em;
        }
    }
}
.blocks {
    width: 100%;
    color: rgb(85, 85, 85);
    padding-bottom: 8em;
    margin: 0em;
    &__item {
        padding-top: 7.6em;
        &-img {
            text-align: center;
            padding-bottom: 1em;
            height: 5em;
        }
        &-text1 {
            font-family: Raleway;
            font-size: 2.2em;
            font-weight: bold;
            text-align: center;
            line-height: 2.2em;
        }
        &-text2 {
            font-family: Montserrat-Regular;
            font-size: 1.6em;
            text-align: center;
            line-height: 1.6em;
        }
        &-line {
            width: 7em;
            height: 0.1em;
            margin-top: 3em;
            background-color:  rgb(85, 85, 85);
        }
    }
    &__item:hover .blocks__item-text1{
        color: rgb(199, 178, 153);
    }
    &__item:hover .blocks__item-line{
        background-color: rgb(199, 178, 153);
    }
}
.slider {
    width: 100%;
    background-color: rgb(251, 250, 248);
    color: rgb(85, 85, 85);
    &-head {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 8em 0em 4em 0em;
        &-text1 {
            font-family: Raleway;
            font-size: 3em;
            font-weight: bold;
        }
        &-text2 {
            font-family: Montserrat-Regular;
            font-size: 1.6em;
            line-height: 2em;
        }
    }
    &-image {
        width: 100%;
        &__background {
            background-image: url("../assets/img/slider-background.png");
            background-position: top; 
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            margin-top: 8.5em;
            position: absolute;
            z-index: 1;
            &-img {
                
            }
        }
        &__top {
            width: fit-content;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            z-index: 2;
        }
    }
}
.carousel-item-img {
    width: 77em;
    height: 48.5em;
}
.purchase {
    width: 100%;
    background: linear-gradient(to right, rgb(33, 27, 26), rgb(78, 52, 39));
    margin: 0em;
    &-text {
        padding: 5em 0em 5em 0em;
        &-1 {
            font-family: Raleway;
            font-size: 2.8em; 
            color: rgb(255, 255, 255); 
            & span {
                font-family: Raleway;
                font-size: 1em; 
                color: rgb(199, 178, 153); 
            }
        }
        &-2 {
            font-family: Montserrat-Regular;
            font-size: 1.8em; 
            color: rgb(199, 178, 153); 
        }
    }
    &-button {
        width: 12em;
        height: 3.6em;
        background-color: rgb(153, 134, 117);
        font-size: 1.4em;
        color: rgb(255, 255, 255);
        border: 0em;
        border-radius: 0.1em;
        margin-right: auto;
        margin-left: auto;
    }
}
.projects {
    width: 100%;
    background-color: rgb(251, 250, 248);
    
    &-head {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 8em 0em 4em 0em;
        &-text1 {
            font-family: Raleway;
            font-size: 3em;
            font-weight: bold;
            color: rgb(85, 85, 85);
        }
        &-text2 {
            font-family: Montserrat-Regular;
            font-size: 1.6em;
            line-height: 2em;
            color:  rgba(85, 85, 85, 0.7);
        }
    }
    &-button {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4em;
        text-align: center;
        &-item {
            font-family: Montserrat-Regular;
            font-size: 1.4em;
            color:  rgba(85, 85, 85, 0.7);
            padding: 0.5em 1.8em;
            border: 0.05em solid  rgba(85, 85, 85, 0.5);
            border-radius: 0.2em;
            margin: 0em 1em 1em 0em;
            background-color: rgba(0, 0, 0, 0); 
        } 
        &-item:last-child {
            margin: 0em 0em 1em 0em;
        }
        &-item:hover {
            background-color: rgb(153, 134, 117);
            color: rgb(255, 255, 255); 
        }
    }
    &-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &-item {
            width: fit-content;
            margin: 0em 1.5em 3em 1.5em;
            border: none;
            &__img {
                width: 37em; 
                height: 23.7em;
            }
            &__text {
                background-color: rgb(251, 245, 245); 
                &-1 {
                    font-family: Raleway;
                    font-size: 2em; 
                    color: rgb(153, 134, 117);
                    padding-top: 0.8em;
                }
                &-2 {
                    font-family: Montserrat-Regular;
                    font-size: 1.4em;
                    color: rgb(85, 85, 85);
                    padding-bottom: 1.4em;
                }
            }
        }
    }
    &-button2 {
        text-align: center;
        padding: 4em 0em 8em 0em;
        &__button {
            width: 12em;
            height: 3.6em;
            background-color: rgb(153, 134, 117);
            font-size: 1.4em;
            color: rgb(255, 255, 255);
            border: 0em;
            border-radius: 0.1em;
        }
    }
}

.projects-card-item:hover .projects-card-item__text {
    background-color: rgb(54, 47, 45); 
}
.projects-card-item:hover .projects-card-item__text-1 {
    color: rgb(255, 255, 255); 
}
.projects-card-item:hover .projects-card-item__text-2 {
    color: rgb(153, 134, 117);
}
.projects-card-item:hover .card-image-top {
    background-color: rgba(54, 47, 45, 0.5); 
    background-blend-mode: multiply;
}
.video {
    width: 100%;
    height: auto;
    background-image: url("../assets/img/video-background.png");
    background-size: cover;
    &-inside {
        width: 100%;
        height: auto;
        margin: auto;
        &__img {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 21em 0em 4.5em 0em;
        }
        &__head {
            width: 100%;
            height: auto;
            font-family: Raleway;
            font-size: 3em; 
            color: rgb(255, 255, 255); 
            text-align: center;
            line-height: 2em;
        }
        &__text {
            width: 100%;
            height: auto;
            font-family: Montserrat-Regular;
            font-size: 1.6em;
            line-height: 1.8em;
            color: rgb(255, 255, 255); 
            text-align: center;
        }
        &__time {
            width: 100%;
            height: auto;
            font-family: Montserrat-Regular;
            font-size: 1.4em;
            color: rgb(199, 178, 153);
            text-align: center;
            padding: 2.85em 0em 14.3em 0em;
        }
    } 
}
.mobile {
        display: flex;
        flex-direction: row;
    &-img {
        width: 50%;
        padding-top: 8em;
        display: flex;
        justify-content: flex-end;
        &__img {
            width: max-content;
        }
    }
    &-text {
        width: 50%;
        height: 80%;
        margin-top: auto;
        margin-bottom: auto;
        &__head {
            font-family: Raleway;
            font-size: 3em; 
            color: rgb(85, 85, 85);
            padding-bottom: 1em;
        }
        &__text {
            width: 70%;
            font-family: Montserrat-Regular;
            font-size: 1.6em;
            color: rgb(85, 85, 85);
            padding-bottom: 4.375em;
        } 
        &__list {
            &-row {
                display: flex;
                flex-direction: row;
                padding-bottom: 1em;
                &-img {
                    width: 2.1em;
                    height: 2.1em;
                    background-repeat: no-repeat;
                    margin: 0em 1em 0em 5em;
                }
                &-text {
                    font-family: Montserrat-Regular;
                    font-size: 1.6em;
                    color: rgb(85, 85, 85);
                }
            }
        }
    }
}
.counter {
    width: 100%;
    background: linear-gradient(to right, rgb(33, 27, 26), rgb(78, 52, 39));
    margin: 0em;
    &-item {
        text-align: center;
        padding-top: 7em;
        padding-bottom: 6em;
        &__img {
            padding-bottom: 1em;
        }
        &__number {
            font-family: Montserrat-Light;
            font-size: 4.8em;
            color: rgb(255, 255, 255); 
            font-weight: lighter;
        }
        &__text {
            font-family: Montserrat-Regular;
            font-size: 1.4em;
            color: rgb(199, 178, 153); 
        }
        &__line {
            width: 5em;
            height: 0.1em;
            margin-top: 3em;
            background-color: rgb(255, 255, 255); 
        }
    }
}
.post {
    width: 100%;
    background-color: rgb(251, 250, 248);
    color: rgb(85, 85, 85);
    &-head {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 8em 0em 4em 0em;
        &-text1 {
            font-family: Raleway;
            font-size: 3em;
            font-weight: bold;
        }
        &-text2 {
            font-family: Montserrat-Regular;
            font-size: 1.6em;
            line-height: 2em;
        }
    } 
    &-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &-item {
            width: 37em;
            margin: 0em 1.5em 5em 1.5em;
            border: none;
            &__img1 {
                background-image: url("../assets/img/post-1.png");
                background-size: cover;
                width: 37em;
                height: 22em;
            }
            &__img2 {
                background-image: url("../assets/img/post-2.png");
                background-size: cover;
                width: 37em;
                height: 22em;
            }
            &__img3 {
                background-image: url("../assets/img/post-3.png");
                background-size: cover;
                width: 37em;
                height: 22em;
            }
            &__text {
                background-color: rgb(251, 250, 248); 
                padding: 1.8em;
                &-1 {
                    font-family: Raleway;
                    font-size: 2em; 
                    color: rgb(85, 85, 85);
                    padding-bottom: 0.8em;
                }
                &-2 {
                    font-family: Montserrat-Regular;
                    font-size: 1.4em;
                    color: rgb(85, 85, 85);
                }
            }
            &__button {
                font-family: Montserrat-Regular;
                font-size: 1.4em;
                color: rgb(153, 134, 117);
                padding-bottom: 2em;
            }
        }
        &-item:hover .post-block-item__text {
            background-color: rgb(54, 47, 45); 
            }
        &-item:hover .post-block-item__text-1 {
            color: rgb(153, 134, 117);
        }
        &-item:hover .post-block-item__img1 {
            background-color:  rgba(54, 47, 45, 0.7); 
            background-blend-mode: multiply;
        }
        &-item:hover .post-block-item__img2 {
            background-color:  rgba(54, 47, 45, 0.7); 
            background-blend-mode: multiply;
        }
        &-item:hover .post-block-item__img3 {
            background-color:  rgba(54, 47, 45, 0.7); 
            background-blend-mode: multiply;
        }
    } 
    &-arrows {
        text-align: center;
        padding-bottom: 7em;
    } 
}
.partners {
    width: 100%;
    height: 48.9em;
    background-image: url("../assets/img/partner-background.png");
    background-size: cover;
    display: flex;
    align-items: center;  
    &-row {
        width: 100%;
        height: 19.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        &-logo {
            width: 18%;
            margin: 0em 1.5em 0em 1.5em;
            display: flex;
            justify-content: center;
            &-img {
                width: initial;
                height: initial;
            }
        }
    }
}
.bottom {
    width: 100%;
    background-color: rgb(25, 25, 25);
    margin: 0em;
    &-column-1 {
        width: 100%;
        padding:7.5em 0em 7em 0em;
        margin-right:3em;
        &__img {
            padding-bottom: 3em;
        }
        &__text {
            font-family: Montserrat-Light;
            font-size: 1.4em; 
            color: rgba(255, 255, 255, 0.6); 
        }
        &__button {
            font-family: Montserrat-Regular;
            font-size: 1.4em;
            color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0); 
            padding: 2em 0em;
            border: none;
        }
    }
    &-column-2 {
        padding:7.5em 0em 7em 0em;
        margin-right:3em;
        &__head {
            font-family: Raleway;
            font-weight: bold;
            font-size: 2.4em;
            color: rgb(255, 255, 255); 
            padding-bottom: 1em;
            padding-top: 0.7em;
        }
        &__item {
            &-date {
                font-family: Montserrat-Light;
                font-size: 1.2em; 
                color: rgba(255, 255, 255, 0.4); 
                margin-bottom: 0.3em;
                padding-top: 1em;
            }
            &-text {
                font-family: Montserrat-Light;
                font-size: 1.4em; 
                color: rgba(255, 255, 255, 0.6);
                padding-bottom: 0.8em;  
            }
        }
        &__line {
            height: 0.01em;
            background-color: rgba(255, 255, 255, 0.4);  
        }
    }
    &-column-3 {
        padding:7.5em 0em 7em 0em;
        margin-right:3em;
        &__head {
            font-family: Raleway;
            font-weight: bold;
            font-size: 2.4em;
            color: rgb(255, 255, 255); 
            padding-bottom: 1em;
            padding-top: 0.7em;
        }
        &__item {
            &-text {
                font-family: Montserrat-Light;
                font-size: 1.4em; 
                color: rgba(255, 255, 255, 0.6);
                & span {
                    font-size: 1em; 
                    color: rgb(0, 191, 243);
                }
            }
            &-time {
                font-family: Montserrat-Light;
                font-size: 1.2em; 
                color: rgba(255, 255, 255, 0.6);
                padding-bottom: 0.8em; 
            }
        }
    }
    &-column-4 {
        padding:7.5em 0em 7em 0em;
        &__head {
            font-family: Raleway;
            font-weight: bold;
            font-size: 2.4em;
            color: rgb(255, 255, 255); 
            padding-bottom: 1em;
            padding-top: 0.7em;
        }
        &__img {
            width: 40%;
            margin: 0em 1em 1em 0em;
        }
    }
}
.footer {
    width: 100%;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    &-half {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__text {
            font-family: Montserrat-Light;
            font-size: 1.3em; 
            color: rgba(255, 255, 255, 0.8);
            padding: 0em 0.8em;
            margin: 3.4em 0em 3.4em 0em;
            border-right: 0.05em solid  rgba(255, 255, 255, 0.8);
        }
        &__text span {
            font-size: 1em; 
            color: rgba(255, 255, 255, 1);
        }
        &__text:last-child {
            border-right: none;
        }
        &__text:hover {
            color: rgb(199, 178, 153);
        }
    }
}
@media screen and (max-width: 1600px) {
    .header-slider {
        width: 50%;
    }
    .video-inside__img {
        padding: 15em 0em 4em 0em;
    }
}
@media screen and (max-width: 1400px) {
    .blocks__item-text1 {
        font-size: 1.9em;
    }
    .blocks__item-text2 {
        font-size: 1.5em;
    }
    .mobile-text__text {
        width: 90%;
    }
    .mobile-text__list-row-text {
        font-size: 1.5em;
    }
    .video-inside__img {
        padding: 5em 0em 2em 0em;
        transform: scale(0.8)
    }
    .video-inside__time {
        padding: 2em 0em 5em 0em;
    }
}
@media screen and (max-width: 1300px) {
    .partners {
        height: 40em;
    }
    .partners-row-logo {
        transform: scale(0.8);
        margin: 0em 1em;
    }
}
@media screen and (max-width: 1220px) {
    .blocks__item {
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media screen and (max-width: 1200px) {
    .header-slider {
        width: 75%;
    }
    .blocks__item {
        padding-left: 3em;
        padding-right: 3em;
    }
    .mobile-img__img {
        height: fit-content;
    }
}
@media screen and (max-width: 1100px) {
    .header-row__nav {
        width: 70%;
    }
    .counter-item {
        font-size: 8px;
        padding: 3em 1em 3em 1em;
    }
    .bottom-column-1, .bottom-column-2__item, .bottom-column-3__item {
        font-size: 8px;
    }
    .bottom-column-1__img {
        transform: scale(0.8);
        padding-top: 1.5em;
    }
}
@media screen and (max-width: 1000px) {
    .header-row {
        padding-bottom: 20em;
        display: flex;
        justify-content: space-around;
        &__nav {
            display: none;
            &-button {
                display: none;
            }
        }
        &__logo {
            width: 30%;
            order: 2;
            justify-content: center;
        }
        &__dropdown {
            display: flex;
            width: 30%;
            order: 1;
            &-img {
                display: flex;
                justify-content: center; 
                width: 30%;
                order: 3;
                &1, &2 {
                    margin: auto 1em;;
                }
            }
        }
    }
    .projects-button2 {
        padding: 2em 0em 6em 0em;
    }
    .partners {
        height: 35em;
    }
    .partners-row-logo {
        transform: scale(0.6)
    }
}
@media screen and (max-width: 991px) {
    .bottom-column-1, .bottom-column-2, .bottom-column-3, .bottom-column-4 {
        padding: 2em 0em 2em 0em;
    }
    .bottom-column-1__img {
        padding-top: 0em;
    }
}
@media screen and (max-width: 900px) {
    .purchase-text {
        font-size: 9px;
    }
    .slider-head {
        width: 70%;
        padding: 3em 0em 3em 0em;
    }
    .slider-image__background {
        background-image: none;
    }
    .slider-image__top {
        width: initial;
        height: initial;
    }
    .projects-head {
        width: 70%;
        padding: 3em 0em 3em 0em;
    }
    .mobile-img {
        display: none;
    }
    .mobile-text {
        width: 80%;
        margin: 3em auto;
        &__text {
            padding-bottom: 2em;
        }
    }
    .counter-item {
        font-size: 6px;
    }
    .post-head {
        width: 70%;
        padding: 3em 0em 3em 0em;
    }
    .footer-half {
        font-size: 8px;
    }
}
@media screen and (max-width: 768px) {
    .purchase-text {
        text-align: center;
        padding: 3em 0em;
    }
    .purchase-button-row {
        display: flex;
        justify-content: center;
        padding-bottom: 3em;
    }
    .blocks {
        padding-bottom: 3em;
        &__item {
            padding: 3em 7em 0em 7em;
        }
    }
    .projects-button-item {
        font-size: 1.2em;
        padding: 0.5em 1em;
    }
    .partners {
        height: 30em;
    }
    .partners-row-logo {
        transform: scale(0.5)
    }
    .partners-row-logo-img {
        width: max-content;
        height: max-content;
    }
}
@media screen and (max-width: 700px) {
    .header-row__logo {
        width: 50%;
    }
    .header-slider {
        padding-bottom: 25em;
    }
    .footer-half {
        font-size: 6px;
    }
}
@media screen and (max-width: 576px) {
    .bottom-column-1, .bottom-column-2, .bottom-column-3, .bottom-column-4 {
        margin: 1em 5em;
        padding: 0em;
    }
    .bottom-column-4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &__head {
            width: 100%;
        }
        &__img {
            width: 45%
        }
    }
}
@media screen and (max-width: 500px) {

}